body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:  #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:  #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat',m sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
  color: #40514E
}

hr {
  width: 5%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
}


.top-container {
  background-color: #e4f9f5;
  margin: auto;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;

}

.sarah-photo {
  width: 200px;
  height: 200px;
}

.bottom-container {
  background-color: #66BFBF;
  height: 8rem;
  padding-top: 3rem;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.message {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.footer-link {
  color: #11999E;
}

.btn {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}


.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 21px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.footer-link {
  margin: 1.5rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color:  #EAF6F6;
  position: relative;
  top: 1rem;
  font-size: 0.75rem;
}
